In [ ]:
mylist=[1,2,3,4]
mylist2=[1,2,'abhi',12.5]

In [ ]:
type(mylist)

list

In [ ]:
loss_function=['mean','variance','sd','covariance','reggression']

In [ ]:
loss_function

['mean', 'variance', 'sd', 'covariance', 'reggression']

In [ ]:
loss_function[0][3]

'n'

In [ ]:
len(loss_function)

5

In [ ]:
loss_function[-3]

'sd'

In [ ]:
loss_function[2][0:]

'sd'

In [ ]:
loss_function=loss_function+['python']

In [ ]:
loss_function

['mean', 'variance', 'sd', 'covariance', 'reggression', 'python']

In [ ]:
min(mylist)

1

In [ ]:
max(mylist)

4

In [ ]:
list4=[6,5,2,8,4,1]

In [ ]:
sorted(list4)

[1, 2, 4, 5, 6, 8]

In [ ]:
sorted(list4,reverse=True)

[8, 6, 5, 4, 2, 1]

In [ ]:
#Write a Python program to sum all the elements in a list.
l=[1,2,3,4,5]
print(sum(l))

15

In [ ]:
#Write a Python program to find the largest element in a list.
l=[1,2,3,4,5]
print(max(l))

5

In [ ]:
#Write a Python program to count the number of elements in a list.
l=[1,2,3,4,5]
print(len(l))

5

In [ ]:
#Write a Python program to find the average of elements in a list.
l=[1,2,3,4,5]
print(sum(l)/len(l))

3.0

In [ ]:
#Write a Python program to reverse a list.
l=[1,2,3,4,5]
print(sorted(l,reverse=True))

[5, 4, 3, 2, 1]

In [ ]:
#Write a Python program to check if a given element exists in a list.
a=7
if a in l:
  print('True')
else:
  print('False')

False

In [ ]:
#Write a Python program to remove duplicate elements from a list.
l1=[1,1,2,3,4,4,6]
unique_l=set(l1)
print(unique_l)

{1, 2, 3, 4, 6}

In [ ]:
#Write a Python program to find the second largest element in a list.
l=[1,2,3,4,5]
print(sorted(l,reverse=True)[1])

4

In [ ]:
#Write a Python program to sort elements in a list in ascending order.
l=[1,9,3,8,5]
print(sorted(l))

[1, 3, 5, 8, 9]

In [ ]:
#Write a Python program to merge two lists and sort them.
l=[1,9,3,8,5]
m=[10,20,30]
print(sorted(l+m))

[1, 3, 5, 8, 9, 10, 20, 30]

In [ ]:
#Given a nested list nested_list_row = [[1, 2, 3], [4, 5, 6], [7, 8, 9]], how can you access the number 9 from the list? Write a Python program to achieve this.
nested_list_row = [[1, 2, 3], [4, 5, 6], [7, 8, 9]]
print(nested_list_row[2][2])

9

In [ ]:
# Suppose you have a nested list nested_list_column = [[1, 2, 3], [4, 5, 6], [7, 8, 9]], how can you access the number 8 from the list? Write a Python program to achieve this.
nested_list_row = [[1, 2, 3], [4, 5, 6], [7, 8, 9]]
print(nested_list_row[2][1])

8

In [ ]:
#How can you access the number 100 from the nested list nested_list_column = [[1, 2, 3], [4, 5, 6], [7, 8, 9,[1,55,77,100]]?
nested_list_column = [[1, 2, 3], [4, 5, 6], [7, 8, 9,[1,55,77,100]]]
print(nested_list_column[2][3][3])

100

In [ ]:
#How can you access the number 100 from the nested list nested_list_column = [[1, 2, 3], [4, 5, 6], [7, 8, 9, [1,55,77,100]] using negative indexing?
nested_list_column = [[1, 2, 3], [4, 5, 6], [7, 8, 9,[1,55,77,100]]]
print(nested_list_column[-1][-1][-1])

100