In [9]:
# 1.	Given a list [4, 8, 2, 10, 6], find the maximum number using a for loop.

a = [4, 8, 2, 10, 6]

max_no=a[0]
for i in a:
 if i>max_no:
  max_no=i
print(max_no)

10

In [66]:
# 2.	Take input from the user and find the factorial of the number using a for loop.

a = int(input("Enter a num :"))
factorial = 1
if a < 0:
  print("invalid")
elif a==0:
  print(1)
else:
  for i in range(1,a+1):
    factorial *= i
  print(factorial)

Enter a num :5
120

In [75]:
# 3.	Given a list ['apple', 'banana', 'cherry', 'date', 'fig'], print each element along with its index using a for loop.

a = ['apple', 'banana', 'cherry', 'date', 'fig']

for index, element in enumerate(a):
    print("Index {index}: {element}")

Index 0: apple
Index 1: banana
Index 2: cherry
Index 3: date
Index 4: fig

In [91]:
from itertools import count
# 4.	Take a string input from the user and count the number of uppercase letters using a for loop.(use char.isupper()ðŸ˜Š)

a = input("enter a string :")

u_count = 0

for char in a:
  if char.isupper():
    u_count += 1
print(u_count)

enter a string :KRISHNA
7

In [96]:
# 5.	Given a list of integers [17, 25, 39, 42, 58, 71, 86, 93], find the sum of all the even numbers using a for loop.

l = [17, 25, 39, 42, 58, 71, 86, 93]

sum=0

for i in l:
  if i%2==0:
    sum+=i
print(sum)

186

In [97]:
# 6.	Given a list [3, 6, 9, 12, 15], calculate the product of all the elements using a for loop.

l = [3, 6, 9, 12, 15]

p=1
for i in l:
  p*=i
print(p)

29160

In [101]:
# 7.	Given a list [2, 3, 5, 7, 11, 13, 17, 19], find the index of the first occurrence of the number 7 usingÂ aÂ forÂ loop.
l = [2, 3, 5, 7, 11, 13, 17, 19]

for i in range(len(l)):
    if l[i] == 7:
        index = i
print(index)

3